@import url(../css/fonts.css);
body {
  font-family: 'Circular Std book', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  color: #000;
  overflow-x: hidden;
}

h1, h2, h3, h4, h6, li, button {
  font-family: 'Circular Std book', sans-serif;
}

h1 {
  font-weight: 900;
  font-size: 42px;
  line-height: 80px;
  color: #000;
  text-transform: uppercase;
}

h2 {
  font-weight: 900;
  font-size: 72px;
  line-height: 100px;
  color: #000;
}

h3 {
  font-weight: 500;
  font-size: 36px;
  line-height: 80px;
  color: #000;
}

h4 {
  font-weight: 500;
  font-size: 32px;
  line-height: 40px;
  color: #000;
}

h5 {
  font-family: 'SourceSerifPro-Regular', sans-serif;
  font-style: italic;
  font-weight: 500;
  font-size: 20px;
  line-height: 40px;
  color: #333;
}

h6 {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #000;
}

button {
  text-transform: uppercase;
  border: 0;
}

div.content {
  padding: 160px 0;
}

div.content section, div.content header {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

div.content section {
  margin-top: 80px;
}

@media (max-width: 420px) {
  body {
    font-family: 'Circular Std book', sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 26px;
    color: #000;
    overflow-x: hidden;
  }
  h1, h2, h3, h4, h6, li, button {
    font-family: 'Circular Std book', sans-serif;
  }
  h1 {
    font-weight: 900;
    font-size: 28px;
    line-height: 80px;
    color: #000;
    text-transform: uppercase;
  }
  h2 {
    font-weight: 900;
    font-size: 36px;
    line-height: 80px;
    color: #000;
  }
  h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 80px;
    color: #000;
  }
  h5 {
    font-family: 'SourceSerifPro-Regular', sans-serif;
    font-style: italic;
    font-weight: 500;
    font-size: 16px;
    line-height: 80px;
    color: #333;
  }
  h6 {
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    color: #000;
  }
  div.content {
    padding: 80px 0;
  }
  div.content section {
    margin-top: 80px;
  }
}
