div.mnBannerView .mnBannerGroup .mnBanner {
  padding-top: calc(100% / 26 * 11);
}

div.mnBannerView .mnBannerGroup .mnBanner header {
  top: auto;
  bottom: 220px;
}

div.mnBannerView .nav {
  left: 45px;
}

div.follow section {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

div.follow section .image {
  width: 100%;
  padding-top: calc(100% / 1 * 1);
}

div.follow section .texts {
  margin: 0 auto;
}

div.menu section .btn {
  display: none;
}

div.menu section .artView {
  width: 100%;
  overflow: inherit;
}

div.menu section .artView .artGroup {
  width: 350%;
  margin-left: 15%;
}

div.slideReview .slideMenu {
  padding-bottom: 450px;
}

div.slideReview .slideMenu header {
  text-align: center;
}

div.slideReview .slideMenu header .imgView {
  width: 100%;
  margin: 80px 0 0 0;
}

div.slideReview .slideMenu header .imgView .imgGroup {
  width: 300%;
}

div.slideReview .slideMenu header .imgView .imgGroup .image {
  width: calc(100% / 6 - 15px);
  padding-top: calc(100% / 9 * 1);
}

div.slideReview .review {
  padding-top: 200px;
}

div.slideReview .review .artView .artGroup article .image {
  width: 40%;
  padding-top: calc(100% / 15 * 1);
}

div.slideReview .review .artView .navi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
}
