div.mnBannerView{
    .mnBannerGroup{
        .mnBanner{
            padding-top: calc(100% / 26 * 11);
            header{
                top: auto;
                bottom: 220px;
            }
        }
    }
    .nav{
        left: 45px;
    }
}

div.follow{
    section{
        flex-wrap: wrap;
        .image{
            width: 100%;
            padding-top: calc(100% / 1 * 1);
        }
        .texts{
            margin: 0 auto;
        }
    }
}

div.menu{
    section{
        .btn{
            display: none;
        }
        .artView{
            width: 100%;
            overflow: inherit;
            .artGroup{
                width: 350%;
                margin-left: 15%;
            }
        }
    }
}

div.slideReview{
    .slideMenu{
        padding-bottom: 450px;
        header{
            text-align: center;

            .imgView{
                width: 55%;
                margin: 80px 0 0 0;
                .imgGroup{
                    width: 600%;
                    .image{
                        width: calc(100% / 6 - 15px);
                        padding-top: calc(100% / 9 * 1);
                    }
                }
            }
        }
    }
    .review{
        padding-top: 200px;
        .artView{
            .artGroup{
                article{
                    .image{
                        width: 40%;
                        padding-top: calc(100% / 15 * 1);
                    }
                }
            }
            .navi{
                display: flex;
                margin-top: 40px;
            }
        }
    }
}