@mixin ctFonts($fw, $fz, $lh, $c) {
    font-weight: $fw;
    font-size: $fz;
    line-height: $lh;
    color: $c;
}

@mixin ctWidth {
    width: 90%;
    max-width: 1440px;
    margin: 0 auto;
}

@mixin bgSet {
    background-color: #999;
    background-position: center;
    background-size: cover;
}

@mixin dpFlex($jc) {
    display: flex;
    justify-content: $jc;
}


div.content{
    header{
        text-align: center;
        ul{
            @include dpFlex(center);
            li{
                margin: 40px 10px 0px 10px;
                cursor: pointer;
            }
            .clicked{
                border-bottom: 2px solid #000;
            }
        }
    }
    section{
        @include dpFlex(space-around);
        flex-wrap: wrap;
        row-gap: 120px;
        margin-top: 160px;
        article{
            width: calc(100% / 3 - 5%);
            .image{
                height: 0;
                padding-top: calc(100% / 1 * 1);
                background-color: #999;
                border-radius: 20px;
            }
            .texts{
                text-align: center;
                padding: 30px;
            }
            .btn{
                @include dpFlex(center);
                button{
                    width: 80%;
                    height: 50px;
                    border-radius: 30px;
                }
            }
        }
    }
}

@media(max-width:960px){
    div.content{
        header{
            ul{
                justify-content: flex-start;
            }
        }
        section{
            margin-top: 120px;
            row-gap: 80px;
            article{
                width: calc(100% / 3 - 5%);
            }
        }
    }
}

@media (max-width: 560px){
    div.content{
        header{}
        section{
            display: block;
            margin-top: 60px;
            article{
                width: 100%;
                margin-top: 40px;
                &:nth-of-type(1){margin-top: 0;}
            }
        }
    }
}